#exec xmodmap -e "keycode 133 = F30"
#escape F30

#bind w exec ~/git/bin/wm/windows
#bind s-w exec ~/git/bin/wm/windows

# overriding CTRL+t 'c' to start sakura instead of xterm
bind c exec urxvt
bind s-c exec urxvt

# bind exclam ! to HOME-x
bind x exec
bind s-x exec

#bind e exec emacs

#exec unclutter -root -idle 1 -jitter 200 -grab &

#exec pulseaudio --start


exec xmodmap /home/me/.Xmodmap


exec /usr/local/bin/run-ratpoison.sh
