#!/usr/bin/env bash

function connect(){
    sleep 1
    setxkbmap -layout us
    xmodmap /home/{{ user }}/.Xmodmap
}

function disconnect(){
    sleep 1
    setxkbmap -layout gb
    xmodmap /home/{{ user }}/.Xmodmap
}

lsusb | grep "{{ keyboard_vendor_id }}" &> /dev/null && connect || disconnect
